/***********  Styles ************/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    background-color: black;
    text-align: center;
}
h1 {
    font-weight: 400px;
    color: white;

}
.download-link {

}